/* SETUP */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ' '; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* SETUP END */

/* FONTS START */
.displayFont, h3, blockquote, .logo{
    font-family: 'Playfair Display', serif;
}

h2{
    font-size:.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #999;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: .7rem;
}

.logo{
    font-size: 1.6rem;
}

p, a{
    color: #999;
    font-size: .6rem;
    line-height: 1rem;
    margin: 0;
}

strong{
    color: black;
    font-weight: 400;
}

/* Add class to text elements to force alignment */
.alignLeft{
    text-align: left;
}

blockquote{
    font-style: italic;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.5rem;
}
/* FONTS END */

.wrapper{
    width: 70vmax;
    margin: 0 auto;
}

/* BASE ELEMENTS */
html{
    font-family: 'Poppins', sans-serif;

    /* Fluid font sizing | scales based on viewport width and desired min/max font sizes*/
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
}

body{
    margin: 0;
    padding: 0;
}

a, a:visited, a:active{
    color: inherit;
    text-decoration: none;
}

ul{
    padding: 0;
    list-style: none;
}

img:not(.portrait){
    width: 100%;
    max-width: 100%;
}

img.portrait{
    max-width: 100%;
    border-radius: 50%;

}

/* NAV */
nav{
    width: 100%;
    height: 4rem;
    background-color: white;
}
nav .wrapper{
    position: relative;
}

nav h1, nav ul{
    margin: 0;
    /* display: inline-block; */
}
nav ul{
    position: absolute;
    /* margin-top: 50%; */
    list-style: none outside none;
    padding: 0;
    float: left;
    transform: translateY(70%);
}
nav h1{
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, 50%);
}
nav ul:first-of-type{
    left: 0;
}
nav ul:last-of-type{
    right: 0;
}
nav ul:last-of-type li:last-of-type{
    position: relative;
}
nav ul:last-of-type li:last-of-type:before{
    content: '2';
    position: absolute;
    background-color: turquoise;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    bottom: -7px;
    right: -7px;
    border-radius: 50%;
}

nav li{
    float: left;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 100%;
    margin-right: 15px;
}
nav a,.relatedPosts a{
    font-weight: inherit;
    transition: font-weight .3s;
}
nav a:hover, .relatedPosts a:hover{
    font-weight: 700;
}

nav svg{
    font-size: .7rem !important;
}
/* NAV END */

/* FOOTER */
footer{
    background: #211F1F;
    color: #999;
    padding: 2rem 0;
}

footer a:hover{
    transition: color .2s;
}

footer button path{
    color: inherit;
    transition: color .3s;
}

footer a:hover, footer form svg:hover, .footerBottom svg:hover path, footer input, footer button:hover path{
    color: #EDEDED;
}

footer form{
    border: 2px solid transparent;
    transition: border .3s;
}

footer form:focus-within input:focus{
    border-bottom: 2px solid #999;
} 

footer form svg{
    color: #999;
    max-width: 15px;
}

.footerBottom{
    display: block;
    clear: both;
    /* width: 100%; */
    padding: 2rem 0;
    border-top: 1px solid #3B3A3A;
}
.footerBottom .half:last-of-type{
    text-align: right;
}

.footerBottom svg {
    width: 100%;
    transition: color .2s;
    padding: 0;
}
.footerBottom a{
    font-size: .7rem;
    margin: 0 .5rem;
}
.footerBottom svg path{
    transition: color .2s;
}

footer li{
    font-size: .75rem;
}

footer form{
    border-bottom: 1px solid #3B3A3A;
    transform: translateY(50%)
}

label, input::placeholder{
    font-size: .75rem;
    color: #999;
}

footer input, footer label{
    background-color: transparent;
    color: #999;
    border: none;
    outline: none;
    padding-bottom: 5px;
    width: 75%;
    margin: 0;
}

footer input{
    font-size: .75rem;
}
footer button{
    width: 20%;
    padding: 5px;
    background-color: transparent;
    border: none;
    margin: 0;
}

/* FOOTER END */

/* LAYOUT */
.quarter, .third, .half, .twoThirds, .threeQuarter{
    position: relative;
    float: left;
}
.quarter{
    width: 25%;
}
.third{
    width: 33%;
}
.half{
    width: 50%;
}
.twoThirds{
    width: 66%;
}
/* LAYOUT END */

/* HOME STYLING */
#home header{
    background: url(../assets/home-1.jpeg) fixed center no-repeat;
    background-size: cover;
    height: 100vh;
}

/* ABOUT US STYLING */
.aboutUs{
    background: #EDEDED; 
    padding: 5rem 0 10rem;
}

.aboutUs .half:last-of-type{
    position: relative;
    padding-left: 2rem;
}

.aboutUs .half:last-of-type:before{
    content: '';
    position: absolute;
    top: 0;
    width: 15%;
    border-top: 1.5px solid black;
}
.aboutUs h2{
    position: relative;
    margin-top: 0;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
}

.aboutUs .container{
    position: relative;
    padding-left: 20%;
}

.aboutUs img:first-of-type{
    right: 0;
    border: .5rem solid white;
    width: 30vmax;
}

.aboutUs .stamp{
    position: absolute;
    width: 17vmax;
    bottom: -20%;
    left: -5%;
    transition: all .3s;
}

/* SERVICES STYLING */
.services .half{
    padding: .5rem;
}

.services .third{
    min-height: 45vmax;
    width: 40%
}

.services .twoThirds{
    padding: 3rem;
    padding-left: 10%;
    padding-bottom: 1rem;
    width: 60%;
}
.services .half .threeQuarter, .services .half .quarter{
    float: left;
}

.services .half .threeQuarter{
    width: 85%;
}

.services .half .quarter{
    width: 15%;
}

.services .half h4, .services .half p{
    margin-top: 0;
    font-size: .5rem;
    line-height: .8rem;
}

.services .half h4{
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.services .half p{
    text-transform: initial;
    line-height: 1rem;
}

/* TESTIMONIALS */
.testimonials, #home .gallery{
    background-color:#f1f1f1;
    background-image: 
    radial-gradient(circle at 100% 150%, #f1f1f1 24%, white 25%, white 28%, #f1f1f1 29%, #f1f1f1 36%, white 36%, white 40%, transparent 40%, transparent),

    radial-gradient(circle at 0    150%, #f1f1f1 24%, white 25%, white 28%, #f1f1f1 29%, #f1f1f1 36%, white 36%, white 40%, transparent 40%, transparent),

    radial-gradient(circle at 50%  100%, white 10%, #f1f1f1 11%, #f1f1f1 23%, white 24%, white 30%, #f1f1f1 31%, #f1f1f1 43%, white 44%, white 50%, #f1f1f1 51%, #f1f1f1 63%, white 64%, white 71%, transparent 71%, transparent),

    radial-gradient(circle at 100% 50%, white 5%, #f1f1f1 6%, #f1f1f1 15%, white 16%, white 20%, #f1f1f1 21%, #f1f1f1 30%, white 31%, white 35%, #f1f1f1 36%, #f1f1f1 45%, white 46%, white 49%, transparent 50%, transparent),

    radial-gradient(circle at 0    50%, white 5%, #f1f1f1 6%, #f1f1f1 15%, white 16%, white 20%, #f1f1f1 21%, #f1f1f1 30%, white 31%, white 35%, #f1f1f1 36%, #f1f1f1 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:50px 25px;

    text-align: center;
    padding: 0;
    padding-top: 6rem;
}

.testimonials .container{
    position: relative;
    background-color: white;
    padding: 2rem;
}
.testimonials path{
    fill: transparent ;
    stroke: #F4AA2B;
    stroke-width: 50px;
    transition: fill .2s;
}

.fa-chevron-left, .fa-chevron-right{
    position: absolute;
    top: 50%;
}

.fa-chevron-left{
    left: -7%;
}

.fa-chevron-right{
    right: -7%;
}

.fa-chevron-left path, .fa-chevron-right path{
    fill: #999 ;
    stroke: none ;
}
.fa-chevron-left:hover path, .fa-chevron-right:hover path{
    fill: black !important;
    stroke: none !important;
}

.testimonials svg{
    width: .75rem !important;
}

.testimonials svg:hover path{
    fill: #F4AA2B;
    stroke: #F4AA2B;
}

.testimonials .author{
    margin-top: 2rem;
}

/* GALLERY STYLING */
#home .gallery{
    text-align: center;
    padding: 6rem 0;
}
.gallery img{
    display: block;
    padding: .5rem;
}
.gallery .imgContainer{
    position: relative;
    width: 33%;
    float: left;
}

.gallery .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    color: black;
    background: #f1f1f1;
    opacity: 0;
    transition: opacity .3s;
}

.gallery .overlay a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.gallery .imgContainer:hover .overlay{
    opacity: .6;
}

/* more specific gallery styling for alternate use */
.gallery .third img{
    width: 100%;
}

/* CONTACT US */
.contactUs .half:first-of-type{
    background: url("../assets/home-10.jpeg") center no-repeat;
    background-size: cover;
    background-color: turquoise;
    min-width: 50%;
    min-height: 550px;
}
.contactUs .half:last-of-type{
    padding: 3rem 5rem;
}
.contactUs h3:last-of-type{
    font-size: 1rem;
    margin-top: 0;
}

.contactUs p:last-of-type{
    margin-top: 2rem;
}

.contactUs h4{
    color: #999;
}

#contactForm input, #contactForm textarea{
    border: none;
    width: 100%;
    margin: .5rem 0;
    border-bottom: 2px solid #EDEDED;
    transition: border-color .3s;
}

#contactForm input:focus, #contactForm textarea:focus{
    border-color: #999;
    outline:none;
}

#contactForm .third{
    width: calc(33% - 1rem);
}

#contactForm .sectionHeader h3{
    text-align: left;
    padding-left: .5rem;
    margin-left: 0;
}

#contactForm .third, #contactForm textarea, #contactForm button{
    margin: .5rem;

    /* set border radius to overide defualt borders in safari on ios */
    border-radius: 0;
}
#contactForm input::placeholder, #contactForm textarea::placeholder{
    color: #999;
    font-size: .6rem;
}

/* Contact Form Button set to reletive to format the :before element, which is pos. absolute */
#contactForm button{
    position: relative;
    background: transparent;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: .45rem;
    letter-spacing: .05rem;
    font-weight: 400;
    padding-bottom: .3rem;
    transition: all .3s;
}
#contactForm button:before{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-bottom: 1px solid black;
    transition: all .2s;
}

/* Styling the contact form button on the blog vs. contact page */
#blog #contactForm button:hover{
    box-shadow: 7px 7px 5px #ccc;
}
#blog #contactForm button:active{
    box-shadow: 4px 4px 0px #ccc;
}

#contact #contactForm button:hover:before{
    border-bottom: 2px solid black;
}
#contact #contactForm button:active{
    font-weight: 600;
}

textarea{
    resize: none;
}
/* HOME STYLING END */

/* BLOG STYLING START */
#blog header{
    background: url("../assets/blog-1.jpeg") fixed center no-repeat;
    background-size: cover;
    height: 100vh;
}

#blog main{
    background-color: #EDEDED;
}

#blog section{
    background: white;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    top: -4rem;
    bottom: -4rem;
}

#blog .sectionHeader{
    text-align: center;
    margin-bottom: 1rem;
}

#blog h3{
    margin: 0 auto;
    max-width: 75%;
    padding: 2rem 2rem 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* Weirdly specifc styling on the blog gallary - did not want to add single-use classes  */
#blog .gallery h3 + p, #blog .gallery h3 + p a, #blog .gallery h3 + p strong{
    margin: 0 auto;
    max-width: 75%;
    padding: .5rem 0 2rem;
    font-size: .5rem;
    line-height: 2rem;
    font-weight: 300;
}

#blog p{
    font-size: .5rem;
    display: block;
    width: 100%;
    margin: .5rem auto;
}

#blog .displayFont{
    margin: .5rem 0;
    text-align: left;
    font-size: .6rem;
}
#blog .author.heading h4, #blog .author.heading p{
    margin:0;
}

.author.heading{
    position: relative;
    clear: both;
    height: 5rem;
}

.author.heading:before{
    content: '';
    margin-bottom: .5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid #EDEDED;
}

.relatedPosts{
    padding: 1rem 0;
}

.relatedPosts img{
    padding: 0;
}

.relatedPosts .third{
    margin: 0 .5rem;
    border-bottom: 2px solid #EDEDED;
    padding: .5rem;
    width: calc(33% - 1rem);
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow .3s ease-in-out;
}
.relatedPosts .third:hover{
    box-shadow: 0px 15px 15px -10px #bbb;
}

.relatedPosts .third a{
    font-size: .5rem;
}

.relatedPosts .sectionHeader h3, .comments .sectionHeader h3{
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
}

.comments{
    padding: 2rem;
}

.comments .threeQuarter, .comments .quarter{
    float: left;
    padding: .0 .5rem;
    margin: .25rem auto;
}

.comments .quarter{
    width: 17%;
    background-color: white 
}

.comments .threeQuarter{
    position: relative;
    width: 83%;
    background-color: #f1f1f1;
}

/* lil speech bubble bit*/
.comments .threeQuarter:before{
    content: '';
    position: absolute;
    top: 2.5vmin;
    left: -2.5vmin;
    height: 2.5vmin;
    width: 2.5vmin;
    background: linear-gradient(to bottom left, #f1f1f1 50%, transparent 50%);
}

.comments .author{
    width: 100%;
    display: block;
}

.comments .author p{
    color: black;
}

.comments p .special {
    color: #3ECCCB;
    font-style: italic;
}

#blog #contactForm button{
    background-color: #84a016;
    padding: .75rem;
    border-bottom: none;
    color: white;
}

#blog #contactForm button:before{
    border-bottom: none;
}
/* BLOG STYLING END */

/* CONTACT PAGE START */
#contact .row.half{
    clear: both;
    display: block;
    width: 100%;
    padding-right: 30vmax;
    margin-bottom: 3rem;
}
#contact .banner:last-of-type{
    background: url("../assets/contact-2.jpeg") center no-repeat;
    background-size: cover;
    height: 65vh;
    margin: 2rem auto 0;
}

#contact section{
    clear: both;
    margin: 2rem auto;
}

#contactDetails{
    min-height: 17rem;
    margin: 0 auto;
}

#contactDetails .third{
    position: relative;
    margin: 0;
    padding: 0 2rem;
}

#contactDetails .third:nth-of-type(2){
    position: relative;
}

/* Adding two parallel lines on the middle div on the contact page */
#contactDetails .third:nth-of-type(2):before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid #EDEDED;
    border-left: 2px solid #EDEDED;
}

#contact p{
    font-size: 0.5rem;
    line-height: 1rem;
}

#contact h3{
    margin: .5rem auto;
}
/* CONTACT PAGE END */

/* MEDIA QUERIES */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .wrapper{
        width: 85vmax;
    }
    .third{
        display: block;
        width: 100% !important;
    }
    .half{
        display: block;
        width: 100%;
    }

    .twoThirds{
        display: block;
        width: 100% !important;
    }

    .aboutUs .half{
        position: relative;
    }

    .aboutUs .container{
        padding: 1rem;
        width: 50%;
        margin: 0 auto;
    }

    .aboutUs .stamp{
        bottom: initial;
        left: initial;
        right: 20px;
        top: -20px;
    }

    .services .twoThirds .half{
        width: 50%;
    }

    footer .half{
        width: 50%;
    }

    .testimonials .fa-chevron-left{
        left: 10px;
    }
    .testimonials .fa-chevron-right{
        right: 10px;
    }
    .author .third{
        width: 33% !important;
    }
    .author .half{
        width: 50%;
    }
    .author .twoThirds{
        width: 66% !important;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .wrapper{
        width: 95vw;
    }
    .services .twoThirds .half{
        width: 100%;
    }
    footer .half{
        width: 100%;
    }

    footer .half > .half, .footerBottom .half{
        width: 50%;
    }

    footer form{
        transform: initial;
    }

    footer form input, footer form button{
        margin: 10px 0;
    }
}